<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/defaultTemplate" >

	<!-- layout:decorate="layouts/defaultTemplate" -->
	<head>
		<meta charset="UTF-8" />
		<title>Create Product</title>
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<meta name="description" content=""/>
	</head>
	<body style="margin: 5%; background-color: lightgray;"> 
		<div layout:fragment="content">
			<div calss="container-sm" style="background-color:skyblue; padding:2%; font-weight: bold; width: 50%;">
				<form th:action="@{/products/createProduct}" th:object="${productModel}" method="post"  enctype="multipart/form-data" class="row g-3 needs-validation" novalidate >
					<div class="col-md-6">
						<label for="name" class="form-label">Name</label>
						<div class="input-group has-validation">						
							<input type="text" class="form-control" th:classappend="${not #lists.isEmpty(#fields.errors('name'))} ? is-invalid" id="name" th:field="*{name}" required>
							<span class="invalid-feedback" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>		
						</div>
					</div>
					<div class="col-md-6">
						<label for="description" class="form-label">Description</label>
						<div class="input-group has-validation">					
							<input type="text" class="form-control" th:classappend="${not #lists.isEmpty(#fields.errors('description'))} ? is-invalid" id="description" th:field="*{description}" required>
							<span class="invalid-feedback" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>							
						</div>
					</div>
					<div class="col-md-6">
						<label for="price" class="form-label">Price</label>
						<div class="input-group has-validation">					
							<input type="text" class="form-control" th:classappend="${not #lists.isEmpty(#fields.errors('price'))} ? is-invalid" id="price" th:field="*{price}"  
							placeholder="123.45" required >
							<span class="invalid-feedback" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></span>							
						</div>
					</div>
					<div class="col-md-6">
						<label for="year" class="form-label">Year</label>
						<div class="input-group has-validation">					
							<input type="text" class="form-control" th:classappend="${not #lists.isEmpty(#fields.errors('year'))} ? is-invalid" id="year" th:field="*{year}" required placeholder="1946 (optional)">
							
						</div>
					</div>
					<div class="col-md-6" >
						<label for="files" class="form-label">Upload Image:</label>
						<div>
							<input type="file" id="files" name="files" class="form-control"  multiple required >
						</div>		
					</div>
					<div class="col-md-6">
						<label for="location" class="form-label">Pick Up Location</label>
						<div class="input-group has-validation">					
							<input type="text" class="form-control" th:classappend="${not #lists.isEmpty(#fields.errors('location'))} ? is-invalid" id="location" th:field="*{location}" required>
							<span class="invalid-feedback" th:if="${#fields.hasErrors('location')}" th:errors="*{location}"></span>							
						</div>
					</div>
					<div class="col-md-6">
						<label for="phone" class="form-label">Phone</label>
						<div class="input-group has-validation">					
							<input type="text" class="form-control" th:classappend="${not #lists.isEmpty(#fields.errors('phone'))} ? is-invalid" id="phone" th:field="*{phone}" required>
							<span class="invalid-feedback" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></span>							
						</div>
					</div>
					<div class="col-md-6">
						<label for="email" class="form-label">Email</label>
						<div class="input-group has-validation">					
							<input type="text" class="form-control" th:classappend="${not #lists.isEmpty(#fields.errors('email'))} ? is-invalid" id="email" th:field="*{email}" required>
							<span class="invalid-feedback" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>							
						</div> 
					</div>
					<div class="col-md-6">
						<label for="otherContacts" class="form-label">Other Contacts</label>
						<div class="input-group has-validation">					
							<input type="text" class="form-control" th:classappend="${not #lists.isEmpty(#fields.errors('otherContacts'))} ? is-invalid" id="otherContacts" th:field="*{otherContacts}" required>
							<span class="invalid-feedback" th:if="${#fields.hasErrors('otherContacts')}" th:errors="*{otherContacts}"></span>							
						</div>
					</div>
					<div class="col-12">
				    	<button type="submit" class="btn btn-primary">Submit</button>
						<a th:href="@{/myproducts}" class="btn btn-danger" role="button">Back</a>
			    	</div>
				</form>
			</div>
		</div>
	</body>
</html>
