<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/defaultTemplate">

	<head>
		<meta charset="UTF-8" />
		<title>My Products</title>
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<meta name="description" content=""/>
		
		<!-- <link rel="stylesheet" th:href="@{/css/styles.css}" />  -->
		
		<script>
    		function confirmDelete(event) {
        		return confirm("Are you sure you want to delete this product?" + 
        				"This will delete the product permanently!");
    		}
		</script>
		
	</head>

	<body style="margin-top:5%; background-color: lightgray; width:auto;"> 
		<div layout:fragment="content">
			<div class="container" style="margin:10px 10px; display:flex; justify-content: center; flex-wrap: wrap; gap: 2.5rem;">
				<div class="container text-center" style="margin-left:100%;">
					<a href="/products/newProduct" class="btn btn-primary" role="button">New</a>
				</div>
				<div th:if="${products.empty}">
					<p style="text-align:center"> No orders available </p>
				</div>
				<div class="card" style="width: 18rem" th:each="product : ${products}" th:id="${product.id}" >
					<img th:if="${product.image != ''}" th:src="${product.image}" class="card-img-top" alt="product" style="width: 100%; height: 100%; object-fit: cover">
					<img th:if="${product.image == ''}" th:src="@{/images/placeholder.png}" class="card-img-top" alt="product" style="width: 100%; height: 100%; object-fit: cover">
					<div class="card-body">
						<h4 class="card-title" th:text="${product.name}">Name</h4> 
						<h5 class="card-title" th:text="${product.description}">Description</h5>
						<ul class="list-group list-group-flush">
							<li class="list-group-item"></li>
							<li class="list-group-item" th:text="'Year: ' + ${product.year}">Year</li>
							<li class="list-group-item" th:text="'Price: $' + ${product.price}">Price</li>
							<li class="list-group-item" th:text="'Seller: ' + ${product.createdBy}">Seller</li>
							<li th:if="${product.createdBy == user}" class="list-group-item"></li>
							<li class="list-group-item" th:text="'Phone: ' + ${product.phone}">phone</li>
 							<li class="list-group-item" th:text="'Email: ' + ${product.email}">Email</li>
 							<li class="list-group-item" th:text="'Other Contacts: ' + ${product.otherContacts}">Other Contacts</li>
						</ul>
						<!-- <form th:if="${product.createdBy == user}" th:action="@{'/products/deleteProduct/' + ${product.id}}" method="post" style="display: flex; justify-content: space-around; width: 100%">
							<a th:href="@{/products/editProduct/{productId}(productId=${product.id})}" class="btn btn-secondary" role="button">Edit</a>
							<button type="submit" class="btn btn-danger" th:action="@{'/products/deleteProduct/' + ${product.id}}">Delete</button>
						</form>	-->
						
						<form th:if="${product.createdBy == user}" th:action="@{'/products/deleteProduct/' + ${product.id}}" method="post" 
      style="display: flex; justify-content: space-around; width: 100%" 
      onsubmit="return confirmDelete(event)">
    <a th:href="@{/products/editProduct/{productId}(productId=${product.id})}" class="btn btn-secondary" role="button">Edit</a>
    <button type="submit" class="btn btn-danger">Delete</button>
</form>
						
					</div>
				</div>
				
			</div>
			
		</div>		
	<body/>
</html>